<h1>Rules</h1>

<div *ngIf="rules; else noRulesTemplate">
    <div class="container-fluid">
        <div *ngFor="let r of rules">
            <div *ngIf="r.isActive" class="row">
                <div class="col-sm-12 rule_panel mouse-pointer" [routerLink]="['/rules', r.id]">
                    {{ r.name }}
                    <span class="rule-action" *ngFor="let a of r.actions">{{a}}</span>
                </div>
            </div>
        </div>            
    </div>
    <div>
        <span (click)="newRule()" class="link mouse-pointer">new...</span>
    </div>
    
</div>


<ng-template #noRulesTemplate>
    <div>Loading...</div>
</ng-template>
