.rule-panel {
    margin: 5px;
    padding: 5px;
    outline: 1px solid black;
    background-color: lightgoldenrodyellow;
}

.rule-action {
    margin: 2px;
    padding: 2px;
    outline: 1px solid black;
    background-color: aliceblue;
}

.rule-action-container{
    float:right;
}