<h3>Rule</h3>

<div *ngIf="rule; else noRuleTemplate">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-1 property-name">Id</div>
			<div class="col-sm-11">{{rule.id}}</div>
		</div>
		<div class="row">
			<div class="col-sm-1 property-name">Name</div>
			<div class="col-sm-11"><input [(ngModel)]="rule.name"></div>
		</div>
	</div>

	<div *ngIf="rule.expression; else noExpressionTemplate">
		<h3>Expression</h3>
		<expression-view [expression]="rule.expression" [isRoot]="true" [metaData]="metaData"></expression-view>
	</div>

	<div *ngIf="rule.actions; else noActionsTemplate">
		<h3>Actions</h3>
		<div *ngFor="let action of rule.actions">
			<action-definition [action]="action" [metaData]="getActionMetaData(action)"></action-definition>
		</div>
		<button type="button" *ngFor="let action of metaData.actionMetaData" (click)="addAction(action)" class="btn btn-default availableAction">{{action.type}}</button>
	</div>

	<!-- Debug -->
	<div style="background-color:lightgoldenrodyellow; padding: 5px; margin-top: 20px">
		<h3>Debug</h3>
		<div>
			<button (click)="clear()">clear</button>
			<button (click)="clearExpression()">clear expression</button>
		</div>
        Rule
		<div><pre><small>{{rule | json}}</small></pre></div>
        Meta
        <div><pre><small>{{metaData | json}}</small></pre></div>
	</div>
</div>

<ng-template #noRuleTemplate>
	<div>Loading...</div>
</ng-template>

<ng-template #noExpressionTemplate>
	<div><a (click)="createRootExpression()">Add an expression</a></div>
</ng-template>

<ng-template #noActionsTemplate>
	<div>@TODO: Add action</div>
</ng-template>
