<div *ngIf="rules; else noRulesTemplate">
    <div class="container-fluid">
        <div *ngFor="let r of rules">
            <div *ngIf="r.isActive" class="row rule-panel mouse-pointer" [routerLink]="['/rules', r.id]">
                <div class="col-sm-6">
                    {{ r.name }}
                </div>
                <div class="col-sm-6">
                    <div class="rule-action-container">
                        <span class="rule-action" *ngFor="let a of r.actions">{{a}}</span>
                    </div>
                </div>
            </div>
        </div>            
    </div>
    <div>
		<button type="button" (click)="newRule()" class="btn btn-primary mouse-pointer">new...</button>
    </div>
    
</div>


<ng-template #noRulesTemplate>
    <div>Loading...</div>
</ng-template>
