<div *ngIf="action && action.isActive" class="action panel panel-default">
	<div class="panel-heading">
		<span (click)="deleteAction()" class="delete glyphicon glyphicon-trash"></span>
		<h4>{{action.type}}</h4>
	</div>
	<div *ngIf="action.properties" class="panel-body">
		<div *ngFor="let property of action.properties" class="container-fluid">
			<div class="row">
				<div class="col-sm-2 property-name">{{property.name}}</div>
				<div class="col-sm-10 property-value">
					<span [ngSwitch]="getPropertyMetaData(property).dataType">
						<select *ngSwitchCase="'select'" [(ngModel)]="property.value">
							<option *ngFor="let option of getPropertyMetaData(property).options" [value]="option.value">{{option.display}}</option>
						</select>
						<label *ngSwitchCase="'datetime'">@TODO: DateTime picker</label>
						<input *ngSwitchDefault [(ngModel)]="property.value">
					</span>
				</div>
			</div>
			 
		</div>
	</div>
    <!--<div><pre><small>{{metaData | json}}</small></pre></div>-->

</div>
