<div class="container-fluid criteria">
    <div class="row">
        <div class="col-sm-2 property-name">Id</div>
        <div class="col-sm-10"><input [(ngModel)]="criteria.id"></div>
    </div>
    <div class="row">
        <div class="col-sm-2 property-name">Category</div>
        <div class="col-sm-10"><input [(ngModel)]="criteria.category"></div>
    </div>
    <div class="row">
        <div class="col-sm-2 property-name">Summary</div>
        <div class="col-sm-10"><input [(ngModel)]="criteria.summary"></div>
    </div>
    <div class="row">
        <div class="col-sm-2 property-name">Page Size</div>
        <div class="col-sm-10"><input [(ngModel)]="criteria.pageSize"></div>
    </div>
    <div class="row">
        <div class="col-sm-2 property-name">Page</div>
        <div class="col-sm-10"><input [(ngModel)]="criteria.page"></div>
    </div>
</div>
