<div class="container-fluid" *ngIf="event; else noResults">
	<h1>{{event.summary}}</h1>
	<div class="row">
		<div class="col-sm-4 property-name">TimestampUtc</div>
		<div class="col-sm-8 property-value">{{event.timestampUtc | date: 'medium'}}</div>
	</div>	

	<div class="row">
		<div class="col-sm-4 property-name">Category</div>
		<div class="col-sm-8 property-value">{{event.category}}</div>
	</div>	

	<div class="row properties" *ngFor="let p of event.properties">
		<div class="col-sm-4 property-name">{{p.name}}</div>
		<div class="col-sm-8 property-value">{{p.value}}</div>
	</div>	

	<div *ngIf="event.tags" class="row tags">
		<div class="col-sm-4 property-name">Tags</div>
		<div class="col-sm-8">
			<div *ngFor="let t of event.tags">
				<div class="property-value">{{t}}</div>
			</div>
		</div>
	</div>

	<div *ngIf="event.triggers && event.triggers.length > 0">
		<h3>Triggers</h3>
		<div *ngFor="let t of event.triggers">
			<div class="panel panel-default">
				<div class="panel-heading mouse-pointer" [routerLink]="['/rules', t.ruleId]">{{t.ruleName}}</div>
				<div class="panel-body">
					<div *ngFor="let a of t.actions">
						<div class="row action">
							<div class="col-sm-2"><strong>{{a.type}}</strong></div>
							<div class="col-sm-10 properties">
								<div class="row" *ngFor="let p of a.properties">
									<div class="col-sm-4 property-name">{{p.name}}</div>
									<div class="col-sm-8 property-value">{{p.value}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


<ng-template #noResults>
	<div>No Results</div>
</ng-template>
