<div class="container-fluid" *ngIf="event; else noResults">
	<h1>{{event.summary}}</h1>
	<div class="row">
		<div class="col-sm-2 property-name">TimestampUtc</div>
		<div class="col-sm-10">{{event.timestampUtc | date: 'medium'}}</div>
	</div>	

	<div class="row">
		<div class="col-sm-2 property-name">Category</div>
		<div class="col-sm-10">{{event.category}}</div>
	</div>	

	<div class="row" *ngFor="let p of event.properties">
		<div class="col-sm-2 property-name">{{p.name}}</div>
		<div class="col-sm-10">{{p.value}}</div>
	</div>	
</div>


<ng-template #noResults>
	<div>No Results</div>
</ng-template>
