<div *ngIf="expression && expression.isActive">

    <!-- Ah, we can't / shouldn't nest bootstrap containers -->
    
    <!-- Expression -->
    <div *ngIf="!isContainer; else container" class="prototype-expression">
        <div class="row">
            <div class="col-sm-2">            
                <select [(ngModel)]="expression.operand">
                    <option *ngFor="let op of operands" [value]="op.name">{{op.name}}</option>
                </select>
            </div>

            <div class="col-sm-2">
                <input *ngIf="getOperandMetaData(expression.operand).dataType == 'require-args'" [(ngModel)]="expression.argument">
            </div>

            <div class="col-sm-2">
                <select [(ngModel)]="expression.operator">
                    <option *ngFor="let op of expressionOperators" [value]="op.code">{{op.display}}</option>
                </select>
            </div>

            <div class="col-sm-2">
                <span [ngSwitch]="getOperandMetaData(expression.operand).dataType">
                    <select *ngSwitchCase="'select'" [(ngModel)]="expression.value">
                        <option *ngFor="let option of getOperandMetaData(expression.operand).options" [value]="option.value">{{option.display}}</option>
                    </select>
                    <label *ngSwitchCase="'datetime'">@TODO: DateTime picker</label>
                    <input *ngSwitchDefault [(ngModel)]="expression.value">
                </span>
            </div>

            <div class="col-sm-4">del</div>
        </div>

    </div>

    <ng-template #container>
        <div class="container-fluid prototype-group">
            <div class="row">
                <div class="col-sm-2">
                    <select [(ngModel)]="expression.operator">
                        <option *ngFor="let op of groupOperators" [value]="op.code">{{op.display}}</option>
                    </select>
                </div>
                <div class="col-sm-2">add group</div>
                <div class="col-sm-8">del</div>
            </div>
            <div *ngFor="let child of expression.children">
                <expression-view [expression]="child" [isRoot]="false" [metaData]="metaData"></expression-view>
            </div>
            <div class="row">
                <div class="col-sm-12">add child</div>
            </div>
        </div>
    </ng-template>
</div>