/* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
/*@media (max-width: 767px) {
    .body-content {
        padding-top: 50px;
    }
}*/

.property-name {
    text-align: right;
}

.property-value {
    padding: 1px;
}

.mouse-pointer{
	cursor: pointer;
}

.main{
	margin-top: 50px;
}